
body{
	width: 960px;
	margin: 0 auto;
	background-color: #03658C;
}
nav{
	margin: 10px 0;
}
nav img{
	float: left;
	margin: 5px;
}
nav ul{
	line-height: 87px;
	float: center;
	list-style: none;
}
 nav ul li{
	float: left;
}
nav > li{
	float: left;
}
nav ul li a{
	text-decoration: none;
	font-family: monospace;
	font-size: 20px;
	color: black;
	margin: 0 8px;
	transition: 1s;
}
nav ul li a{
	color: black;
}
nav ul li a:hover{
	color: red;
}
.active{
	color: yellow;
}
.clearfix{
	overflow: hidden;
}
h1{
	font-size: 3em;
	margin: 5px 0;
}
section article img{
	margin: 5px;
}
section article a{
	text-decoration: none;
	font-size: 1em;
	margin: 5px;
}
section article p{
	font-size: 5;
}
.img-responsive{
	width: 100%;
}
section article{
	float: left;
	margin: 5px;
	padding: 5px;
	width: 220px;
	background-color: #ddd;
}
section article img{
	width: 100%;
	height: 70%;
}
section p{
	font-style:italic;

	font-weight:bold;

	font-size:1em;

	font-color:#ffffff;

	font-family:Arial;
}