body{
	width: 960px;
	margin: 0 auto;
	background-color: #03658C;
}
nav{
	margin: 10px 0;
}
nav img{
	float: left;
	margin: 10px;
}
nav ul{
	line-height: 87px;
	float: center;
	list-style: none;
}
nav ul li{
	float: left;
}
section article img{
	float: left;
	width: 100%;
}
section article:last-child{
margin-right: 0;
}
nav ul li a{
	text-decoration: none;
	font-family: monospace;
	font-size: 20px;
	color: black;
	margin: 0 8px;
	transition: 1s;
}
nav ul li a{
	color: black;
}
nav ul li a:hover{
	color: red;
}
div.centre
{
  width: 50px;
  height: 50px;
  
}
