body{
	width: 960px;
	margin: 0 auto;
	background-color: #03658C;
}
nav{
	margin: 10px 0;
}
nav img{
	float: left;
	margin: 10px;
}
nav ul{
	line-height: 87px;
	float: right;
	list-style: none;
}
nav ul li{
	float: left;
}
nav ul li a{
	text-decoration: none;
	font-family: monospace;
	font-size: 20px;
	color: black;
	margin: 0 8px;
	transition: 1s;
}
nav ul li a{
	color: black;
}
nav ul li a:hover{
	color: red;
}
.active{
	color: yellow;
}
.clearfix{
	overflow: hidden;
}
h1{
margin: 10px
}

section {
	clear: both;
}

section img{
	margin: 40px;
}
.img-responsive{
	width: 100%;

}
section p{
	font-style:italic;

	font-weight:bold;

	font-size:1em;

	font-color:#ffffff;

	font-family:Arial;
}
section article p{
	font-style:italic;

	font-weight:bold;

	font-size:1em;

	font-color:#ffffff;

	font-family:Arial;
}
div.centre
{
  width: 50px;
  height: 50px;
  
}